{% extends "base.html.twig" %}

{% block title %}Report{% endblock %}

{% block body %}
    <div class="two-col-layout">
    <main class="main">
        <article class="article">
        <h1>Kurs Rapporter</h1>
<ul>
  <li>
    <h2 id="intro">Introduktion</h2>
    <p> De 6 C:na är ett samlingt av olika mått som uppmäter kvalitén av koden i ett projekt. Code Coverage, som är den första delen mäter "kodtäckning". Detta begrepp innefattar kod som testas via så kallade test-klasser, och bedömer alltså hur väl en sekvens, metod eller klass är testad av programmerarn. En låg code coverage innebär att färre test har gjorts mot koden medans högre innebär motsatsen. </p>
 
  </li>

</ul>
        </article>
    </main>

    <aside class="aside">
        <h2>Innehållsförteckning</h2>
        <a href="#intro"><h3>Introduktion</h3></a>
        <a href="#kmom2"><h3>Kursmoment 2</h3></a>
        <a href="#kmom3"><h3>Kursmoment 3</h3></a>
        <a href="#kmom4"><h3>Kursmoment 4</h3></a>
        <a href="#kmom5"><h3>Kursmoment 5</h3></a>
        <a href="#kmom6"><h3>Kursmoment 6</h3></a>
    </aside>
</div>
{% endblock %}