{% extends "projbase.html.twig" %}

{% block title %}Adventure{% endblock %}

{% block body %}
    <h1 style="text-align:center;">RUNSTEN</h1>
        <p style="text-align:center;">Hej, mitt namn 칛r Axel. Jag 칛r en tidigare student f칬r en kandidatexamen i f칬retagsekonomi. Efter utbytesstudier utomlands b칬rjade jag arbeta p친 ett f칬retag som ekonom och blev tr칬tt p친 det. Jag hade mest erfarenhet inom IT i det f칬retaget d친 jag utvecklat hemsidor som hobby en sommar, och sakta s친 blev IT 50% av min arbetsroll, n친got som jag f칬redrog. Jag b칬rjade d칛refter som egenf칬retagare inom IT med ett antal kunder och 칛r nu i b칬rjan av en process d칛r jag ska lansera ett dataspel.
        <p style="text-align:center;">Jag s칬kte just denna kurs eftersom den innefattade databaser, n친got som jag 칛r mycket intresserad av. Jag beh칬ver 칛ven sammanl칛nka SQL med det databas system som jag har i mitt spel, s친 det har 칛ven gett mig 칛nnu ett motiv att se fram mot databas de orienterade moment vi kommer att studera d친 det verkar nyttigt att kunna b친de i allm칛nhet men 칛ven f칬r mina egna projekt 游</p>
        </p>
        <div class="chartContainer">
        {{ render_chart(chart, {'class': 'my-chart'}) }}
        </div>
{% endblock %}