{% extends "projbase.html.twig" %}

{% block title %}Adventure{% endblock %}

{% block body %}
    <h1 style="text-align:center;">Om Projektet</h1>
        <p>
            Detta projekt är tanken att göra en översiktlig analys av svensk energi politik och statistiken bakom denna. Statistiken kommer från SCB:s "Agenda 2030" sektion, som är en samling av olika indikatorer för en hållbar värld. Denna sektionen har data relaterat till elproduktion i Sverige samt siffror kring infrastruktur och transport. I detta projekt är tanken att ge en inblick i de faktiska siffrorna som finns för ett ämne som är ganska populärt i debatt, och kanske är intressant då många framtida regelverk har börjat införas för en mer grön framtid. Datan i detta projekt är tagen från hemsidan och organiserad i en CSV fil som sedan importeras av ett skript för att fylla två tabeller i en SQLite databas. 
        </p>
        <a style="text-align: center;" class="button" href="{{ path('proj_about_database') }}">Läs om Databasen</a>
{% endblock %}