{% extends "base.html.twig" %}

{% block title %}Dokumentation om 21{% endblock %}

{% block body %}
    <div class="two-col-layout">
    <main class="main">
        <article class="article">
        <h1>/Dokumentation om Kortspelet 21</h1>

    <h2 id="kmom1">Flödeschema för Spelet</h2>
    <a href="{{ asset('img/Flowchart.png') }}">
        <img src="{{ asset('img/Flowchart.png') }}" alt="">
    </a>
    <p>I ovanför bild har jag "Sanolikhet" som en "condition" och detta stämmer inte med hur jag slutade med projektet, jag valde istället att "17 >" avgör bankens beteende</p>
    <h2 id="kmom1">Pseudokod för Sanolikhet-Funktionen</h2>
    <ul>
    <p>If $sumHand > 21</p>
    
    <p>elseif $sumBank > 21</p>

    <p>elseif $stand == true</p>
        <p>if $sumHand >= $sumBank</p>

            <p>else</p>

        <p>else</p>
    </ul>
    <h2 id="kmom1">Klasserna som används i Spelet</h2>
    <p>Card - Skapar ett Kort</p>
    <p>Card-Graphic - Skapar en grafisk representation av koret, Arv av Kort-Klassen</p>
    <p>DeckOfCards - Skapar Decket av kort och hanterar kortleken, komposition av CardGraphic</p>
    <p>Hand - Spelarens hand, komposition av CardGraphic</p>
    <p>BankHand - Bankens hand, komposition av Cardgraphic</p>
    </article>
    </main>

</div>
{% endblock %}