{% extends "base.html.twig" %}

{% block title %}Report{% endblock %}

{% block body %}
    <div class="two-col-layout">
    <main class="main">
        <article class="article">
        <h1>Kurs Rapporter</h1>

    <h2 id="kmom1">Kursmoment 1</h2>
    <p>Jag har lite erfarenhet av klasser och objekt utifrån C++ som är ett programmeringsspråk jag använder i ett spela jag producerar, utöver det lärde jag nog mig lite av de vi lärde oss i PHP kursen förra året i denna kurs på BTH. Jag märkte ganska tydligt att jag glömt det mesta kring PHP lite tråkigt nog, men hoppas att det kommer tillbaka nu när jag sitter igen med det.</p>
    <p>Det viktigaste att tänka sig kring klasser är att de fungerar lite likt en funktion. Det vikigaste att veta är att en klass är en förälder entitet till ett objekt. Vad detta innebär är alltså att objekten ärver variabler och beteende/funktioner från förälder klassen, men varje objekt kan hålla ett eget värde i dessa. Ett objekt kan efterliknas till en array, då det med andra ord innehåller variabler och olika former av data.</p>
    <p>Jag tycker kodbasen som alltid kanske känns lite krånglig när man behöver lära sig ramverk, så har lite svårt i nuvarande stadie att säga att jag har någon bättre uppfattning om vad jag tycker om den. Den verkar enklare på vissa sätt, och svårare på andra. På rak arm, tyckte jag om hur routes fungerade i Symfony, kändes ganska förenklat och snabbt.</p>
    <p> Eftersom jag är väldigt intresserade av just databaser tycker jag databas delen är väldigt intressant att kolla på, jag gillar även mycket PHP som ett verktyg för templating, då det på ett sätt tar bort behov av vissa externa ramverk för design, och man istället kan bygga sin egna design-moduler. Jag skulle inom en framtid gärna se att jag läser mer om dessa två delar och lär mig mer. </p>
    <p>Mitt TIL för detta moment är återigen att jag alltid måste lära mig om hur man använder och sätter upp olika labbmiljöer, hade glömt en hel del kring GIT till exempel, så blir bra för min lärdom igen att börja använda mig av det</p>

        </article>
    </main>

    <aside class="aside">
        <h2>Innehållsförteckning</h2>
        <a href="{{ path('show_deck') }}"><h3>Show Deck</h3></a>
        <a href="{{ path('shuffle_deck') }}"><h3>Shuffle Deck</h3></a>
        <a href="{{ path('draw_one') }}"><h3>Draw Card</h3></a>
        <a href="{{ path('draw_several', {num: 5}) }}"><h3>Draw 5 Cards</h3></a>
    </aside>
</div>
{% endblock %}