body {
    margin: 0 auto;
    font-family: "Lato", sans-serif;
}

main {
    margin: 0 auto;
    max-width: 90%;
}

h1 {
    border-bottom: 4px double #ccc;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style-type: none;
}

li {
    display: inline;
    padding: 24px 24px;
}

nav {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .nav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
  }
  
  .nav a:hover {
    background: #ddd;
    color: black;
  }

.site-header {
    padding: 200px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 30px;
    background-size: cover;
}

footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #1abc9c;
    color: white;
    text-align: center;
    margin-top: 10%;
 }

 /* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 33.33%;
    padding: 10px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }


  
.two-col-layout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width:1920px;
  margin: 0 auto;
}

.two-col-layout > .main {
  width: calc(100% / 16 * 12); /* 12/16 width */
}

.two-col-layout > .aside {
  width: calc(100% / 16 * 4); /* 4/16 width */
}

.aside {
  border-right: 1px solid #ccc;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 24px;
}

.aside h4 {
  border-bottom: 1px solid #ccc;
}

.cards {
  font-size: 128px;
}

.button {
  background-color: #00d48e; /* Knappfärg */
  border: none;
  color: white;
  padding: 18px;
  padding-left: 70px;
  padding-right: 70px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 64px;
  font-weight:bolder;
}

.button:hover {
  background-color: #00c281;
}

.flash-notice {
  padding: 0.5em;
  color: #ffffff81;
  background-color: #cce5ff;
  border-color: #b8daff;
}
.flash-notice:before {
  content: "ⓘ";
}

.flash-warning {
  padding: 0.5em;
  color: #ffffff83;
  background-color: #69001a;
  border-color: #ffeeba;
}
.flash-warning:before {
  content: "⚠";
}

.flash-success {
  padding: 0.5em;
  color: #ffffff83;
  background-color: #007250;
  border-color: #ffeeba;
}
.flash-success:before {
  content: "🏆";
}

