body {
    margin: 0 auto;
    font-family: "Lato", sans-serif;
    background-color: #2D283E;
    background-image: url(https://blz-contentstack-images.akamaized.net/v3/assets/blt9c12f249ac15c7ec/blt56ec452f2eec4e04/61f21cfb621a6a2afac2083b/repeating_leather_blue.jpg?format=webply&quality=70);
}

main {
    margin: 5%;
}

.backgroundImage {
  margin: 0 auto;
  background-color: #2D283E;
  background-image: url(https://blz-contentstack-images.akamaized.net/v3/assets/blt9c12f249ac15c7ec/blt56ec452f2eec4e04/61f21cfb621a6a2afac2083b/repeating_leather_blue.jpg?format=webply&quality=70);
}

h1 {
    color: #88c9fb;
    text-shadow: 0px 1px 1px #4d4d4d;
    font-size: 36px;
}

p {
  text-decoration: none;
  color: #D1D7E0;
}

a {
    text-decoration: none;
    color: #f2f2f2;
}

ul {
    list-style-type: none;
}

li {
    display: inline;
    padding: 24px 24px;
}

nav {
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  .nav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
  }
  
  .nav a:hover {
    background: #ddd;
    color: black;
  }

.site-header {
    padding: 200px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 30px;
    background-size: cover;
}

footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #1abc9c;
    color: white;
    text-align: center;
    margin-top: 10%;
 }

 /* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 33.33%;
    padding: 10px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
.two-col-layout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width:1920px;
  margin: 0 auto;
}

.two-col-layout > .main {
  width: calc(100% / 16 * 12); /* 12/16 width */
}

.two-col-layout > .aside {
  width: calc(100% / 16 * 4); /* 4/16 width */
}

.aside {
  border-right: 1px solid #ccc;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 24px;
}

.aside h4 {
  border-bottom: 1px solid #ccc;
}

.cards {
  font-size: 128px;
}

.button {
  background-color: #88c9fb2a; /* Knappfärg */
  color: white;
  padding: 18px;
  padding-left: 70px;
  padding-right: 70px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border: 2px Solid #88c9fb;
  font-weight:bolder;
}

.button:hover {
  background-color: #88c9fb5e; /* Knappfärg */
}

.flash-notice {
  padding: 0.5em;
  color: #ffffff81;
  background-color: #cce5ff;
  border-color: #b8daff;
}
.flash-notice:before {
  content: "ⓘ";
}

.flash-warning {
  padding: 0.5em;
  color: #ffffff83;
  background-color: #69001a;
  border-color: #ffeeba;
}
.flash-warning:before {
  content: "⚠";
}

.flash-success {
  padding: 0.5em;
  color: #ffffff83;
  background-color: #007250;
  border-color: #ffeeba;
}
.flash-success:before {
  content: "🏆";
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto;
  gap: 1px;
  padding: 10px;
}

.grid-container > div {
  text-align: center;
  padding: 20px 20px;
  font-size: 30px;
  color: white;
}

.chartContainer {
  width: 600px;
  height: 600px;
}

